header {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 7%;
    padding-right: 7%;
    top: 0;

    transition: all 0.5s;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-weight: 400;
    font-size: 13px;

    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0.85);

    height: 48px;
}

.header-shadow {
    -webkit-box-shadow:0 2px 13px rgba(0,0,0,.04);
    -moz-box-shadow:0 2px 13px rgba(0,0,0,.04);
    box-shadow:0 2px 13px rgba(0,0,0,.04);
    
    transition: all 0.5s;
    height: 24px;
}

.header-title {
    transform: scale(1.8, 1.8);
    transform-origin: left;
    font-family: 'Raleway Thin';
    user-select: none;
}

.header-title-small {
    transform: scale(1.2, 1.2) !important;
    transform-origin: left;
}

.header-links {
    display: flex;
    position: relative;
}

.header-links a {
    text-transform: uppercase;
    color: #555;
    margin-left: 12px;
    margin-right: 12px;
}

#menu {
    display: none;
}

@media only screen and (max-width: 520px) {
    .header-links {
        display: none;
    }

    #menu {
        display: block;
    }
}

